@use "../../styles/theme";

.wrapper {
  background-color: theme.$color4;
  padding-top: theme.$spacing;
}

.hello {
  justify-self: start;

  @media screen and (min-width: theme.$breakpoint-tablet) {
    justify-self: center;
  }
}

.hero {
  margin: 0;
  width: 100%;
}

.grid {
  align-items: center;
  display: grid;
  grid-gap: theme.$spacing * 2;
  grid-template-columns: 1fr 1fr;

  @media screen and (max-width: theme.$breakpoint-tablet) {
    grid-gap: theme.$spacing * 3;
    grid-template-columns: 1fr;

    > figure {
      order: 2;
    }
  }
}

.title {
  font-size: 2.5rem;
  margin-bottom: 0;
  padding-bottom: 0;

  @media screen and (max-width: theme.$breakpoint-tablet) {
    font-size: 3rem;
  }
}

.subtitle {
  color: theme.$brand-grey;
  font-size: 1.5rem;

  @media screen and (max-width: theme.$breakpoint-tablet) {
    font-size: 2rem;
  }
}
