@use "theme";

html {
  font-size: 112.5%; /* 18px */
}

body {
  background-color: theme.$background-color;
  color: theme.$text-color;
  font-family: "Bitter", "Georgia", serif;
  font-weight: 400;
  height: 100%;
  line-height: 1.65;
}

p {
  margin-bottom: 1.15rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cambo", "Helvetica Neue", "Segoe UI", "Helvetica", "Arial",
    sans-serif;
  font-weight: 600;
  line-height: 1.15;
  margin: 2.75rem 0 1.05rem;
}

h1 {
  font-size: theme.$font-scale-5;
}

h2 {
  font-size: theme.$font-scale-4;
}

h3 {
  font-size: theme.$font-scale-3;
}

h4 {
  font-size: theme.$font-scale-2;
}

h5 {
  font-size: theme.$font-scale-1;
}

table {
  margin: 0 0 20px;
  text-align: left;
  width: 100%;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

figure > img {
  display: block;
}

li {
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

a {
  text-decoration: none;

  &:hover,
  &:focus {
    text-decoration: underline;
  }
}
