$spacing: 24px;
$size-sm: 540px;
$size-md: 720px;
$size-lg: 960px;
$size-xl: 1200px;

$color1: #fcc000;
$color2: #fed97a;
$color3: #ffebbc;
$color4: #a7d0da;
$color5: #52afbe;
$color6: #049fb2;
$color7: #0090a5;
$color8: #008195;
$color9: #373736;
$color10: #383836;

$font-scale-0: 1rem;
$font-scale-1: 1.2rem;
$font-scale-2: 1.44rem;
$font-scale-3: 1.728rem;
$font-scale-4: 2.074rem;
$font-scale-5: 2.488rem;

$animation-short: 0.1s;
$animation-normal: 0.3s;
$animation-long: 0.5s;

$text-color: hsla(0, 0%, 0%, 0.8);
$background-color: hsl(0, 0%, 99.2%);
$shadow-color: hsla(0, 0, 0, 0.2);

$brand-color: hsl(213, 66.8%, 43.7%);
$brand-color-darkened: hsl(213, 66.8%, 38%);
$brand-blue: hsl(211, 100%, 50%);
$brand-grey: hsl(0, 0%, 30%);
$brand-grey-lightened: hsl(0, 0%, 70%);

$breakpoint-mobile: 640px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$breakpoint-desktop-wide: 1280px;
