@use "../../styles/theme";

.menu {
  background: theme.$background-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  transition: transform 0.3s ease-in-out;

  @media (max-width: theme.$breakpoint-mobile) {
    width: 100%;
  }

  @media screen and (min-width: theme.$breakpoint-tablet) {
    display: flex;
    flex-direction: row;
    height: auto;
    left: initial;
    position: initial;
    top: initial;
    transform: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.menu-open {
  transform: translateX(0);
}

.menu-closed {
  transform: translateX(-100%);

  @media screen and (min-width: theme.$breakpoint-tablet) {
    transform: none;
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (min-width: theme.$breakpoint-tablet) {
    flex-direction: row;

    > * {
      &:not(:last-child) {
        margin-right: theme.$spacing;
      }
    }
  }
}
