@use "../../styles/theme";

.link {
  align-self: center;
  color: theme.$text-color;
  font-size: theme.$font-scale-2;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: color 0.3s linear;

  &:visited {
    color: theme.$text-color;
  }

  @media screen and (min-width: theme.$breakpoint-tablet) {
    font-size: theme.$font-scale-0;
    font-weight: normal;
    letter-spacing: normal;
    margin-left: theme.$spacing;
    text-transform: none;
  }

  @media screen and (prefers-reduced-motion: reduce) {
    transition: none;
  }
}

.icon {
  display: none;

  @media screen and (min-width: theme.$breakpoint-tablet) {
    color: theme.$brand-grey-lightened;
    display: inline;
    margin-left: theme.$spacing / 4;
    width: 12px;
  }
}
