.wrapper {
  line-height: 56px;
}

.title {
  align-self: center;
}

.logo {
  display: block;
  margin: 0;
  padding: 0;
}

.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-height: 70px;
}
