.centered {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
}

.legend {
  background-color: #000;
  color: #fff;
  padding: 3px 6px;
}

.fieldset {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.error {
  color: #f00;
  font-size: 12px;
}

.ul {
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul > li input {
  margin-right: 0.5rem;
}
